.{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 750px;
    align-items: center;
    margin-top: 120px;
    gap: 12px;
    background: linear-gradient(180deg, #484848 20%, #000000 100%);
}
body > h2{
    text-align: center;
    color: white;
}
body > input{
    display: flex;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.08);  
    width: 312px;
    height: 44px;
}
body > input::placeholder{
    padding-left: 8px;
}
body > a, body > p > span >a{
    text-decoration: none;
    color: #2f89fc;
}
button{
    height: 48px;
    width: 312px;
    border-radius: 5px;
    border-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 68px;
}
p{
    margin: 4 auto;
    color: white;
}

.login{
    background-color: #0e64d2;
    color: white;
    padding-left: 132px;
    
}
.loginFb{
    background-color: #1877f2;
    color: white;
}
.loginGoogle{
    background-color: white;
    border-color: rgba(0, 0, 0, 0.1);
}
img{
    position: relative;
    right: 58px;
}
h3{
    color: whitesmoke;
    font-weight: lighter;
    font-size: 12px;
}